{% extends "base.j2" %}
{% load static %}

{% block main %}

<header class="header">
   <div class="logo-wrapper">
      <a class="logo header__logo" href="{% url 'blog:home' %}">
         <img src="{% static 'images/logo.png' %}" alt="logo">
      </a>
   </div>

   <div class="header__user">
      {% if user.is_authenticated %}
      <div>
         <p style="display: inline-block;">
            Hooray, <b>{{ user.username }}</b>
         </p>
         <a href="{% url 'authapp:logout' %}">
            <svg style="width: 17px; height: 17px; margin-bottom: -3px;">
               <use style="color: #52585d;" href="{% static 'svg/logout.svg' %}#logout"/>
            </svg>
            <span>logout</span>
         </a>
      </div>
      <a href="{% url 'blog:user' id=user.id %}#main-header">view your posts</a>
      {# TODO I'm lazy :( #}
      <hr style="margin: 5px 0;">
      <a href="{% url 'blog:add_blog_item' %}#main-header">add post</a>
      {% if user.is_staff %}
      <hr style="margin: 5px 0;">
      <a href="{% url 'blog:add_category' %}#main-header">add new category</a>
      {% endif %}
      {% else %}
      <p>You are not authorized, please</p>
      <a href="{% url 'authapp:signup' %}">signup</a>
      <p>or</p>
      <a href="{% url 'authapp:login' %}">login</a>
      {% endif %}
   </div>

   {% include "blog/include/navigation.j2" %}
</header>

<main class="main">
   <h1 class="main-header blog-main-header" id="main-header">{% block header %}{% endblock header %}</h1>
   <div class="blog-main wrapper">
      <div class="blog-main__main-blog">
      {% block main_blog %}{% endblock main_blog %}
      </div>

      <aside class="blog-main__aside">
         <section>
            <h3 class="aside__header">Categories</h3>
            <ul class="aside__list">
               {% for category in categories %}
               <li class="aside__item">
                  <a class="aside__link" 
                     href="{% url 'blog:category' id=category.id %}#main-header">{{ category.name }}</a>
                  <hr>
               </li>
               {% endfor %}
            </ul>
         </section>
      </aside>
   </div>
</main>

<footer class="footer">
   <div class="wrapper">
      <img style="max-width: 1200px; width: 100%;" src="{% static 'images/carpet.jpg' %}" alt="carpet">
   </div>
</footer>

{% endblock main %}
