{% extends "base.j2" %}
{% load static %}

{% block title %}Log In{% endblock title %}

{% block main %}
<h1 class="main-header">Log In</h1>
<div class="form-container" id="form-container">
   <form class="form" id="form" action="{% url 'authapp:login' %}" method="POST">
      <div class="form__wrap">
         {% csrf_token %}
         {% for field in form %}
            <div class="form__field">
               <label class="form__label" for="{{ field.id_for_label }}">
                  {{ field.label }}
               </label>
               {{ field }}
               {{ field.errors }}
            </div>
         {% endfor %}
         {% for error in form.non_field_errors %}
            <div class="danger form__danger">
               {{ error }}
            </div>
         {% endfor %}
      </div>
      <input class="btn form__btn" type="submit" value="Login">
   </form>
</div>
<p style="text-align: center; margin-top: 20px;">
   Go to
   <a style="text-decoration: underline;" href="{% url 'authapp:signup' %}">
      signup page
   </a>
</p>
<script src="{% static 'js/form.js' %}"></script>
{% endblock main %}
