{% extends "base.j2" %}
{% load static %}

{% block title %}Sign Up{% endblock title %}

{% block main %}
<h1 class="main-header">Sign Up</h1>
<div class="form-container" id="form-container">
   <form class="form" id="form" action="{% url 'authapp:signup' %}" method="POST">
      <div class="form__wrap">
         {% csrf_token %}
         {% for field in form %}
            <div class="form__field">
               <label class="form__label" for="{{ field.id_for_label }}">
                  {{ field.label }}
                  {% if field.field.required %}*{% endif %}
               </label>
               {{ field }} 
               {{ field.errors }}
            </div>
         {% endfor %}
      </div>
      <input class="btn form__btn" type="submit" value="Register">
   </form>
</div>
<p style="text-align: center; margin-top: 20px;">
        Go to
   <a style="text-decoration: underline;" href="{% url 'authapp:login' %}">
      login page
   </a>
</p>
<script src="{% static 'js/form.js' %}"></script>
{% endblock main %}
