{% extends "base_blog.j2" %}

{% block title %}404 - Not found{% endblock title %}

{% block header %}404 - Not found{% endblock header %}

{% block main_blog %}

<p>The page that you're looking for doesn't exist</p>

{% endblock main_blog %}
