{% extends "base_blog.j2" %}

{% block title %}Add blog item{% endblock title %}

{% block header %}Add blog item{% endblock header %}

{% block main_blog %}

<form class="blog-form" action="{% url 'blog:add_blog_item' %}" method="POST">
   {% csrf_token %}
   {% for field in form %}
      <div class="blog-form__field-container">
         <label class="blog-form__label" for="{{ field.id_for_label }}">
            {{ field.label }}
            {% if field.field.required %}*{% endif %}
         </label>
         {{ field }} 
         {{ field.errors }}
      </div>
   {% endfor %}
   <input class="btn" type="submit" value="Add blog item">
</form>

{% endblock main_blog %}

