{% extends "base_blog.j2" %}

{% block title %}Home page{% endblock title %}

{% block header %}All blog items{% endblock header %}

{% block main_blog %}

{% if blog_items %}

<ul class="blog-items__list">
{% for blog_item in blog_items %}
   <li class="blog-items__item">
   {% include "blog/include/blog_item.j2" %}
   </li>
{% endfor %}
</ul>

{% else %}
<p>No items</p>
{% endif %}

{% endblock main_blog %}
