{% extends "base_blog.j2" %}

{% block title %}{{ blog_item.header }}{% endblock title %}

{% block header %}{{ blog_item.header }}{% endblock header %}

{% block main_blog %}

{% include "blog/include/blog_item.j2" with is_single_item=1 %}

{% endblock main_blog %}
