{% extends "base_blog.j2" %}

{% block title %}Blog items by user{% endblock title %}

{% block header %}All entries by user {{ username }}{% endblock header %}

{% block main_blog %}

{% if blog_items %}

<ul class="blog-items__list">
   {% for blog_item in blog_items %}
   <li class="blog-items__item">
   {% include "blog/include/blog_item.j2" with is_user_page=1 %}
   </li>
   {% endfor %}
</ul>

{% else %}
<p>No items</p>
{% endif %}

{% endblock main_blog %}
