* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
   color: #52585d;
}

@font-face {
   font-family: "Poppins";
   src: url("./fonts/Poppins-ExtraLight.ttf");
   font-weight: 200;
}
@font-face {
   font-family: "Poppins";
   src: url("./fonts/Poppins-Light.ttf");
   font-weight: 300;
}
@font-face {
   font-family: "Poppins";
   src: url("./fonts/Poppins-Regular.ttf");
   font-weight: 400;
}
@font-face {
   font-family: "Poppins";
   src: url("./fonts/Poppins-Medium.ttf");
   font-weight: 500;
}
@font-face {
   font-family: "Poppins";
   src: url("./fonts/Poppins-SemiBold.ttf");
   font-weight: 600;
}

a {
   transition: opacity 0.3s ease;
}

a:hover {
   opacity: 0.7;
}

hr {
   border: 1px solid #f2f2f2;
}

body {
   /* display: flex;
   flex-direction: column;
   min-height: 100vh; */
}

textarea {
   resize: none;
}

button {
   outline: none;
   border: none;
   cursor: pointer;
   background-color: transparent;
}

input {
   outline: none;
   border: none;
}

.wrapper {
   max-width: 1200px;
   margin: 0 auto;
}

.btn {
   padding: 10px 20px;
   background-color: #6588de;
   color: #fff;
   border-radius: 14px;
   font-size: 12px;
   font-weight: 600;
   transition: filter 0.5s ease, all 0.5s ease;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   cursor: pointer;
}

.btn:hover {
   filter: drop-shadow(0 0 3px #6588de);
}

.danger {
   color: #fdfdfd;
   font-size: 14px;
   padding: 10px;
   background-color: #de6d65;
   border-radius: 14px;
}

.danger::before {
   content: "!";
   padding: 2px 10px;
   margin-right: 5px;
   background-color: #ff7e75;
   border-radius: 50%;
}

.header__user {
   border: 1px solid #f2f2f2;
   padding: 10px;
   max-width: 500px;
   text-align: center;
   margin: 0 auto;
}

.logo-wrapper {
   text-align: center;
   margin: 50px 0;
}

.logo {
   transition: opacity 0.5s ease;
}

.logo:hover {
   opacity: 0.7;
}

.navigation {
}

.navigation__list {
   list-style: none;
   display: flex;
   justify-content: center;
   border-bottom: 1px solid #f2f2f2;
}

.navigation__item {
}

.navigation__link {
   text-decoration: none;
   text-transform: uppercase;
   padding: 25px 15px;
   display: block;
}

.main {
   padding: 30px 0 70px;
   flex: 1;
}

.main-header {
   background-color: #f7f7f7;
   padding: 20px 0;
   margin-bottom: 30px;
   font-weight: 300;
   text-transform: uppercase;
   text-align: center;
   line-height: 70px;
}

.blog-main-header {
   margin-bottom: 70px;
}

.blog-main {
   width: 100%;
   display: grid;
   grid-template-columns: 70% 30%;
}

.blog-main__main-blog {
   grid-column-start: 1;
}

.blog-main__aside {
   grid-column-start: 2;
   padding-left: 50px;
}

.aside__header {
   display: flex;
   align-items: center;
   font-weight: 300;
   text-transform: uppercase;
   font-size: 15px;
   letter-spacing: 2px;
   margin-bottom: 20px;
}

.aside__header::after {
   content: "";
   height: 4px;
   background-color: #f2f2f2;
   width: 100%;
   margin-left: 15px;
}

.aside__list {
   list-style: none;
}

.aside__item {
}

.aside__link {
   display: block;
   margin: 10px 0;
   text-decoration: none;
}

.form-container {
   max-width: 700px;
   margin: 0 auto;
   padding: 5px;
}

.form {
   padding: 20px;
   border-radius: 14px;
   background-color: #e3f6fc;
   filter: drop-shadow(0 0 5px #e3f6fc);
}

.form__wrap {
   max-width: 302px;
   margin: 0 auto;
}

.form__field {
   margin-bottom: 20px;
}

.form__field input {
   max-width: 100%;
   color: black;
   background: #fdfdfd;
   border-radius: 14px;
   padding: 10px 25px;
}

.form__label {
   font-weight: 400;
   font-size: 10px;
   margin-left: 10px;
   line-height: 20px;
   transition: all 0.3s ease;
   transform: translate(30px, 30px) scale(1.5);
   display: inline-block;
   cursor: text;
   pointer-events: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.form__label.focused,
.form__label.has_value {
   transform: none;
}

.form__danger {
   margin-bottom: 20px;
}

.form__btn {
   display: block;
   margin: 0 auto;
}

.blog-form {
}

.blog-form__field-container {
}

.blog-form__field {
   padding: 10px;
   border: 1px solid #52585d;
   background-color: #fff;
}

.blog-form__label {
   display: block;
}

.footer {
   min-height: 500px;
   background-color: #52585d;
}
