{% if not is_single_item %}
<h2><a href="{% url 'blog:item' id=blog_item.id %}#main-header">{{ blog_item.header }}</a></h2>
{% endif %}

<p>category :
   {% if blog_item.category %}
      {% if is_category_page %}
      <b>{{ blog_item.category.name }}</b>
      {% else %}
      <a href="{% url 'blog:category' id=blog_item.category.id %}#main-header">{{ blog_item.category.name }}</a>
      {% endif %}
   {% else %}
   no category
   {% endif %}
</p>

{% if is_single_item %}
<p>{{ blog_item.content }}</p>
{% else %}
<p>{{ blog_item.content | truncatechars:50 }}</p>
{% endif %}

<div>
<p>by : 
{% if is_user_page %}
<b>{{ blog_item.author.username | default:"unknown" }}</b> 
{% else %}

{% if not blog_item.author.username %}
<b>unknown</b>
{% else %}
<a href="{% url 'blog:user' id=blog_item.author.id %}#main-header">{{ blog_item.author.username }}</a> 
{% endif %}

{% endif %}
| <b>{{ blog_item.created_at | date:"M d, Y" }}</b></p>
</div>
