<nav class="navigation wrapper header__navigation">
   <ul class="navigation__list">
      <li class="navigation__item">
         <a class="navigation__link" href="{% url 'blog:home' %}">Home</a>
      </li>
   </ul>
</nav>
